/* myForm.module.css */


.form-field {
  margin-bottom: 15px;
  display: flex; /* Aligne les étiquettes et les champs en ligne */
  justify-content: space-between; /* Ajoute de l'espace entre les étiquettes et les champs */
}

.label {
  font-weight: bold;
  margin-right: 10px; /* Ajoute de l'espace entre l'étiquette et le champ */
  flex: 1; /* Permet à l'étiquette de prendre autant d'espace que possible */
}

.input {
  flex: 2; /* Permet au champ de prendre autant d'espace que possible */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 100%; /* Champ d'entrée avec une largeur maximale de 100% */
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px; /* Ajoute un espacement en haut du bouton */
}

.submit-button:hover {
  background-color: #0056b3;
}

